//////////////////////////////////////////
/// colors
//////////////////////////////////////////
$color-primary: #1177e5 !default;
$color-win: #28b662 !default;
$color-loss: #e43825 !default;

// text
$color-text: #333 !default;

// misc
$color-white: #fff !default;